/* IMPORTANT: Some of the styles between pages are not consistent, make sure they are consistent.
when possible, try to resuse classes over webpages to keep a consistent design.
base.html, home.html and researcher_login.html do not use bootstrap so feel free to adapt as 
you wish and do not have a consistent design with game_view.html
if any questions please ask
-Alberto */

/* body styles to be changed according to website design */
/* general classes to be used for all pages */
body {
  font-family: 'Lato', sans-serif !important;
  margin: 0;
  color: black;
  font-size: 20px;
  min-height: 100vh;
}
button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #ff5733;
  border-radius: 12px;
}

.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 50px;
}

.flex-container-child{
  display: flex;
  flex-direction: row;
  width: 45%;
  margin: 0 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.flex-container-child-2{
  display: flex;
  flex-direction: row;
  width: 45%;
  margin: 0 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.flex-container-child img {
  margin-left:400px;
}

.flex-container-child-2 img {
  margin-right:400px;
}

.flex-photo p {
  margin: 10px 0;
}

.flex-photo-2 p {
  margin: 10px 0;
}

.flex-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-photo-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* center style sets margins for content of page (top is 56 so as not to overlap with navbar) */ 
.center{
  margin: 56px 5px 5px 5px;
}

/* styles for the navigation bar, can change colours according to colour scheme of website*/
.navbar {
  margin: 0;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff5733;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar li {
  float: left;
}
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar li a:hover:not(.active) {
  background-color: #333;
}

/* styles for footer, font and colours can be changed*/
footer {
  margin: 0;
  background-color: #333;
  color: white;
  text-align: center;
  width: 105vw;
  margin-left: -11px;
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
}

footer div{
  margin: 5px;
}
footer img {
  margin: 5px;
  float:left;
}
footer ul {
  padding: 0;
  list-style-type: none;
}
footer ul li {
  font-weight: bold;
}
footer ul li ul {
  margin-top:10px;
}
footer ul li ul li{
  font-weight: normal;
}

/* classes specific to home.hmtl (currently none exclusive to this page)*/
.container-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.heading-edit {
  text-align: center;
}

.paragraph-edit {
  text-align: center;
  margin: 0 auto;
  max-width: 63vw;
}

/* classes used in game_view.html */
.collapsible {
  background-color: #777;
  color: white;
  padding: 18px;
  width: 100vw;
  border: none;
  text-align: center;
  outline: none;
  margin-left: -11px;
  margin-top: -20px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  text-align: center;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* style of two boxes that they distinguish map and chat */
.col-sm-8.map {
  height: 550px;
  border-color: #333;
  border-style: solid;
}

.col-sm-4.chat {
  height: 550px;
  border-color: #333;
  border-style: solid;
}

/* style of the buttons */
.button {
  border: none;
  color: white;
  padding: 20px 32px; /* measurements of how big/small you want it */
  text-align: center;
  display: inline-block;
  font-size: large;
  font-weight: bold;
  /* Position of buttons. Please always use 
  % and not px to be responsive in all screens */
  margin:5% 15% 5% 20% ;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 17px;
}

.button-home {
  padding: 18px 150px;
  border-radius: 5px;
  border: 0;
}

.button-home:hover {
  background-color: #333;
}
    
.button1 {
  background-color: green; 
}
    
.button1:hover {
  background-color: #333;
}
    
.button2 {
  background-color: red;          
}
    
.button2:hover {
  background-color: #333;
}

.button1, .button2 {
  margin-right: -40px;
  width: 250px;
  border-radius: 5px;
  border: 0;
}

/* classes used in researcher login */
.login-container {
  width: 500px;
  margin: 100px auto;
  }
  
  .form-group {
  margin-bottom: 20px;
  }
  
  label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  }
  
  input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  }
  
  input[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
  border: 0;
  background-color: #ff5733;
  color: #fff;
  cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #333;
  }
  